@font-face {
    font-family: "Fedra";
    src: url("/assets/graphic-charter/fonts/Fedra\ Sans\ Light.ttf");
}

body{
    padding:0;
    margin:0;
    font-family: "Fedra Book";
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.tabs{
    margin-top: 20px;
}

header{
    background-image: url('/assets/images/treatments/women-massaged.jpg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
}

.selected-products{
    display: flex;
    flex-direction: column;
}

.items-in-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid gold;
}

button .pay{
    float: right;
}

button{
    background-color: #B89535;
    color: white;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid transparent;
}

button:hover{
    background-color: white;
    color: #B89535;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #B89535;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    text-decoration: none;
    color: #B89535;
}

.tabs button{
    background-color: transparent;
    color: #B89535;
    border: 1px solid #B89535;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.tabs button:hover{
    background-color: #B89535;
    color: white;
    border: 1px solid white;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.card{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.log-in{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

input{
    border: 1px solid #B89535;
    border-radius: 5px;
    padding: 5px;
}

input:focus{
    outline: none;
    border: 2px solid #B89535;
}

.sign-up{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-left: 0.5px solid gold;
    padding-left: 30px;
}

.sign-up p{
    font-size: 1.2em;
}