@font-face {
    font-family: "Roboto Regular";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Medium.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Bold.ttf");
}

@font-face {
    font-family: "Roboto Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Italic.ttf");
}

@font-face {
    font-family: "Roboto Medium Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-MediumItalic.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Thin.ttf");
}

@font-face {
    font-family: "Roboto Thin Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-ThinItalic.ttf");
}


body{
    padding:0;
    margin:0;
    font-family: "Roboto Regular";
    font-size: 15px;
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-image: linear-gradient(180deg,rgba(5,20,1,0.6) 0%,rgba(5,20,1,0.6) 100%), url('../assets/images/backgrounds/elegant-bath-time.jpeg')!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 3em;
}

.special-offer{
    display: flex;
    justify-content: center;
    margin: 5em 0 5em 0;
}
.special-offer img{
    width: 60%;
}

h2{
    color : white;
    font-size: 500%;
    font-family: "Roboto Bold";
    margin-bottom: 1em;
    margin-top: 0px;
}

h3{
    color : white;
    background-color: #B89535;
    padding: 2%;
    font-family: "Roboto Medium";
    font-size: 2em;
    text-align: center;
}

h4{
    font-size: 15px;
    padding: 3px;
    margin: 0;
    color: rgb(0, 0, 0);

}

.fathers-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-evenly;
}

.product-list img{
    width: 247px;
    object-fit: contain;
}

.product-list div{
    width: 247px;
    padding: 12px;
    text-align: center;  
}

button{
    background-color: transparent;
    color: #B89535;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #B89535;
}

button:hover{
    background-color: #B89535;
    color: white;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #B89535;
}


.product-select{
    margin-bottom : 10em;
}

/*--------------------*/

.product:hover {
    background-color: #B89535;
    box-shadow: 0 0 1px #000;
    border-radius: 5px;
}

.product:hover img{
    opacity:10%;
}

.divDescription{
    position: absolute;
    margin-top: -220px;
    margin-left: -10px;;
    opacity: 0;
}

.product:hover .divDescription {
    transform: translateY(0px);
    transition-delay: 0.1s;
    opacity: 1;
    font-family: fedra;
    font-size: 1.2em;
    animation: divDescription 1s;
}

@keyframes divDescription{
    from {
        transform : translateY(20px);
        opacity: 0%;
    } to {
        transform: translateY(0);
        opacity: 100%;
    }
}