@font-face {
    font-family: "Fedra";
    src: url("/assets/graphic-charter/fonts/Fedra\ Sans\ Light.ttf");
}

body{
    padding:0;
    margin:0;
    font-family: "Fedra Book";
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-image: url('/assets/images/treatments/facial-massage.png') !important;
    display : flex;
    flex-direction: column;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 50vh;
}

.tabs{
    margin: 10px 20px;
}

h2{
    color : #dbb778;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
}

h3{
    color : white;
    background-color: #004B62;
    padding: 0.3em;
}

a{
    text-decoration: none;
}

h4{
    padding: 0;
    margin: 0;
}

.pricing-list, .vip-pricing-list{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.price-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.left-side{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

.right-side p{
    min-width: 65px;
}

button{
    background-color: transparent;
    color: #B89535;
    border: 1px solid #B89535;
    margin: 0;
    padding: 5px;
}

button:hover{
    background-color: #B89535;
    color: white;
    border: 1px solid white;
    margin: 0;
    padding: 5px;
}